<!DOCTYPE html>
<html>

<head>

<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.0/jquery.min.js"></script>
<script src="likes.js"></script>
<link rel="stylesheet" href="likes.css">
  <title>Home Page</title>

  <div id="topNav" class="topNav" </div>

    <h1>Gabble</h1>

    <border id="border header" </border>

      <div class="topnav" id="myTopnav">
        <a href="#Home">Gabble|  </a>

        <class id="top-border">

          <a href="#Create a New Gab">Create a New Gab  |</a>
          <a href="#Logged in as Rem">Logged in as Remy  |</a>
          <a href="#Log Out">Log Out|  </a>
      </div>

</head>

<body>


  <div id="Cadence" </div>
    <h3>Cadence: This project is super fun</h3>
    <h3>June 23, 2017 10:10PM</h3>
    <h3>No Likes yet.</h3> <button onclick="myFunction()">Like</button>
    <hr>


    <div id="Remy" class="topNav" </div>
      <h3>Remy: This project is super fun</h3>
      <h3>June 23, 2017 10:00PM</h3>
      <h3>1 Likes.</h3> <button onclick="myFunction()">Like</button>
      <button onclick="myFunction()">Deletes</button>
      <hr>


      <div id="Avery" class="topNav" </div>
        <h3>Avery: This project is super fun</h3>
        <h3>June 23, 2017 9:00PM</h3>
        <h3>No Likes yet.</h3> <button onclick="myFunction()">Like</button></button>
        <hr>


        <div id="Angel" class="topNav" </div>
          <h3>Angel: This project is super fun</h3>
          <h3>June 23, 2017 7:00PM</h3>
          <h3>12 Likes.</h3> <button onclick="myFunction()">Like</button>
          <hr>

</body>
  <border id="border bottom" </border>

</html>
