<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>
  <script src="likes.js"></script>
  <link rel="stylesheet" href="liks.css">

  <div id="topNav" class="topNav" </div>

    <border id="border header" </border>

      <div class="topnav" id="myTopnav">
        <a href="#Home">Gabble|  </a>

        <class id="top-border">

          <a href="#Create a New Gab">Create a New Gab  |</a>
          <a href="#Logged in as Rem">Logged in as Remy  |</a>
          <a href="#Log Out">Log Out|  </a>
      </div>


        <div id="Cadence" </div>
          <h3>Angel: I love being in this class with you all. </h3>
          <h3>June 23, 2017 7:00PM</h3>
          <h1>Liked By</h1>   <hr>
          <ul style="list-style-type:none">
            <li>Indiana</li>
            <li>Dallas</li>
            <li>Oz</li>
            <li>Adrian</li>
            <li>Blake</li>
            <li>Dale</li>

          </ul>

</head>

<body>

</body>
<border id="border bottom" </border>

</html>
