<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>

  <div id="topNav" class="topNav" </div>

    <border id="border header" </border>

      <div class="topnav" id="myTopnav">
        <a href="#Home">Gabble|  </a>

        <class id="top-border">

          <a href="#Create a New Gab">Create a New Gab  |</a>
          <a href="#Logged in as Rem">Logged in as Remy  |</a>
          <a href="#Log Out">Log Out|  </a>
      </div>


      <form action="/action_page.php">

        <h1>Create a New Gab</h>
        <br>
        <textarea name="text" name="New Gab" rows="6" cols='60' value=""></textarea>
<button onclick="myFunction()">Save Gab</button>
        <br>




</head>

<body>


</body>
<border id="border bottom" </border>

</html>
