<!DOCTYPE html>
<html>

<head>
  <title>Home Page</title>

  <div id="topNav" class="topNav" </div>

    <border id="border header" </border>

      <div class="topnav" id="myTopnav">
        <a href="#Home">Gabble|  </a>

        <class id="top-border">

          <a href="#Create a New Gab">Create a New Gab  |</a>
          <a href="#Logged in as Rem">Logged in as Remy  |</a>
          <a href="#Log Out">Log Out|  </a>
      </div>

      <h1>SignUP</h1>

      <form action="/action_page.php">

        User Name:
        <br>
        <input type="text" name="firstname" value="">
        <br>
        <br>Password:<br>

        <input type="text" name="lastname" value=""><br>

        <br>Password Confirmation:<br>
        <input type="text" name="lastname" value=""><br>
        <br>

      </form>




      <form action="/users" method="post">
  <fieldset>
    <legend>Create a new user</legend>
    <label>
      Username:
      <input type="string" name="username" />
      <input type="submit" value="Create user" />
    </label>
  </fieldset>
</form>
</head>

<body>
  <button onclick="myFunction()">Sign UP</button>
  

</body>
<border id="border bottom" </border>

</html>
